# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.cache

# =========================
# Virtual environment
# =========================
venvl/
.env/
.env*

# =========================
# Model weights (DON'T PUSH)
# =========================
*.pt
*.onnx
*.engine
*.weights

# =========================
# Test / temp files
# =========================
test_*.py
export_onnx.py
det_track_final.py

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# Videos / recordings
# =========================
*.mp4
*.avi

# =========================
# Logs
# =========================
*.log